<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SMBtnDropAnimation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>90F3A0A01CCB9A8A003DA0FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90F3A0BC1CCB9A8A003DA0FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90F3A0C71CCB9A8A003DA0FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
